<?php
/**
 * @var $block \Kowal\GoGlobal\Block\Adminhtml\Order\View\Goglobal
 */ ?>
<section class="admin__page-section goglobal_shipment-section">
    <div class="admin__page-section-title">
        <span class="title"><?= __('Przesyłki GoGlobal') ?></span>
    </div>
    <div class="admin__table-wrapper">
        <div class="field">
            <?php if ($shipments = $block->getGoglobalShipments()){
                if(count($shipments)){
                ?>

                <table class="data-table admin__table-primary">
                    <thead class="headings">
                    <tr>
                        <th><?= __('Tracking number') ?></th>
                        <th><?= __('Service') ?></th>
                        <th><?= __('Details') ?></th>
                        <th><?= __('Actions') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($shipments as $shipment): ?>
                        <tr>
                            <td>
                                <a href="<?= $shipment->getTrackingUrl(); ?>"><?= $shipment->getTrackingNumber(); ?></a>
                            </td>
                            <td>
                                <?= $shipment->getKurier(); ?> / <?= $shipment->getKurierService(); ?> / <?= $shipment->getKurierType(); ?>
                            </td>
                            <td>
                                <?= $shipment->getMessageUid(); ?> /  <?= $shipment->getMessageCode(); ?> <?php if($shipment->getMessageContent()){ ?><textarea readonly="readonly" rows="2"><?php echo $shipment->getMessageContent();?></textarea><?php } ?>
                            </td>
                            <td>
                                <div class="actions" style="padding: 5px;">
                                    <a class="action-default primary" target="blank" href="<?= $block->getLabelUrl($shipment) ?>">
                                        <?= $block->escapeHtml(__('Pobierz etykietę')) ?>
                                    </a>
                                </div>
                                <?php if ($block->isReturnPossible($shipment)): ?>
                                    <div class="actions" style="padding: 5px;">
                                        <a class="action-default primary" href="<?=  $block->getReturnUrl($shipment) ?>" <?php if ($block->isUrlBlank($shipment)): ?> target="_blank" <?php endif; ?> >
                                            <?= $block->escapeHtml(__('Return')) ?>
                                        </a>
                                    </div>
                                <?php endif ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php }} ?>
            <?php
            $methods = $block->getGoGlobalShippingMethods();
            $selectedMethod = $block->getSelectedMethod();
            $orderId = $block->getOrder()->getId();
            ?>
            <form action="<?= $block->getUrl('kowal_goglobal/goglobalshipment/save') ?>" class="goglobal-shipments-form">
                <div class="control">
                    <input type="hidden" name="order_id" value="<?= $orderId ?>">
                </div>
                <button id="submit" title="Submit" type="submit" class="action-default scalable edit primary">
                    <span><?= __('Create shipment') ?></span>
                </button>
            </form>
        </div>
    </div>
</section>
